In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mask_use_file = '../covid-19-data/mask-use/mask-use-by-county.csv'
excess_deaths_file = '../covid-19-data/excess-deaths/deaths.csv'
colleges_file = '../covid-19-data/colleges/colleges.csv'
US_live_file = '../covid-19-data/live/us.csv'
US_live_counties_file = '../covid-19-data/live/us-counties.csv'
US_live_states_file = '../covid-19-data/live/us-states.csv'
US_file = '../covid-19-data/us.csv'
US_counties_file = '../covid-19-data/us-counties.csv'
US_states_file = '../covid-19-data/us-states.csv'

In [3]:
mask_use_DF = pd.read_csv(mask_use_file)
excess_deaths_DF = pd.read_csv(excess_deaths_file)
colleges_DF = pd.read_csv(colleges_file)
US_DF = pd.read_csv(US_file)
US_counties_DF = pd.read_csv(US_counties_file)
US_states_DF = pd.read_csv(US_states_file)
US_live_DF = pd.read_csv(US_live_file)
US_live_counties_DF = pd.read_csv(US_live_counties_file)
US_live_states_DF = pd.read_csv(US_live_states_file)

In [4]:
excess_deaths_DF[excess_deaths_DF.country == 'United States']

,country,placename,frequency,start_date,end_date,year,month,week,deaths,expected_deaths,excess_deaths,baseline
1459,United States,NaN,weekly,2020-01-06,2020-01-12,2020,1,2.0,60691,60628.0,63.0,2017-2019 historical data
1460,United States,NaN,weekly,2020-01-13,2020-01-19,2020,1,3.0,59338,60023.0,-685.0,2017-2019 historical data
1461,United States,NaN,weekly,2020-01-20,2020-01-26,2020,1,4.0,59104,59872.0,-768.0,2017-2019 historical data
1462,United States,NaN,weekly,2020-01-27,2020-02-02,2020,2,5.0,58763,60412.0,-1649.0,2017-2019 historical data
1463,United States,NaN,weekly,2020-02-03,2020-02-09,2020,2,6.0,59328,60073.0,-745.0,2017-2019 historical data
...,...,...,...,...,...,...,...,...,...,...,...,...
1541,United States,NaN,weekly,NaN,NaN,2017-2019 average,11,47.0,55082,NaN,NaN,NaN
1542,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,48.0,55872,NaN,NaN,NaN
1543,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,49.0,56832,NaN,NaN,NaN
1544,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,50.0,57866,NaN,NaN,NaN
1545,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,51.0,58879,NaN,NaN,NaN

In [5]:
mask_use_DF

      COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0         1001  0.053   0.074      0.134       0.295   0.444
1         1003  0.083   0.059      0.098       0.323   0.436
2         1005  0.067   0.121      0.120       0.201   0.491
3         1007  0.020   0.034      0.096       0.278   0.572
4         1009  0.053   0.114      0.180       0.194   0.459
...        ...    ...     ...        ...         ...     ...
3137     56037  0.061   0.295      0.230       0.146   0.268
3138     56039  0.095   0.157      0.160       0.247   0.340
3139     56041  0.098   0.278      0.154       0.207   0.264
3140     56043  0.204   0.155      0.069       0.285   0.287
3141     56045  0.142   0.129      0.148       0.207   0.374

[3142 rows x 6 columns]

In [6]:
colleges_DF

,date,state,county,city,ipeds_id,college,cases,notes
0,2020-11-05,Alabama,Madison,Huntsville,100654.0,Alabama A&M University,41.0,NaN
1,2020-11-05,Alabama,Montgomery,Montgomery,100724.0,Alabama State University,NaN,NaN
2,2020-11-05,Alabama,Limestone,Athens,100812.0,Athens State University,23.0,NaN
3,2020-11-05,Alabama,Lee,Auburn,100858.0,Auburn University,2047.0,NaN
4,2020-11-05,Alabama,Montgomery,Montgomery,100830.0,Auburn University at Montgomery,80.0,NaN
...,...,...,...,...,...,...,...,...
1768,2020-11-05,Wisconsin,Milwaukee,Milwaukee,240338.0,Wisconsin Lutheran College,34.0,NaN
1769,2020-11-05,Wyoming,Natrona,Casper,240505.0,Casper College,185.0,NaN
1770,2020-11-05,Wyoming,Goshen,Torrington,240596.0,Eastern Wyoming College,6.0,NaN
1771,2020-11-05,Wyoming,Albany,Laramie,240727.0,University of Wyoming,1012.0,NaN
1772,2020-11-05,Wyoming,Sweetwater,Rock Springs,240693.0,Western Wyoming Community College,10.0,NaN

In [7]:
US_DF

           date     cases  deaths
0    2020-01-21         1       0
1    2020-01-22         1       0
2    2020-01-23         1       0
3    2020-01-24         2       0
4    2020-01-25         3       0
..          ...       ...     ...
296  2020-11-12  10637418  242861
297  2020-11-13  10818614  244250
298  2020-11-14  10977735  245460
299  2020-11-15  11112922  246083
300  2020-11-16  11279503  246879

[301 rows x 3 columns]

In [8]:
US_counties_DF

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1       0
1       2020-01-22   Snohomish  Washington  53061.0      1       0
2       2020-01-23   Snohomish  Washington  53061.0      1       0
3       2020-01-24        Cook    Illinois  17031.0      1       0
4       2020-01-24   Snohomish  Washington  53061.0      1       0
...            ...         ...         ...      ...    ...     ...
738756  2020-11-16  Sweetwater     Wyoming  56037.0   1110       4
738757  2020-11-16       Teton     Wyoming  56039.0   1192       2
738758  2020-11-16       Uinta     Wyoming  56041.0    760       4
738759  2020-11-16    Washakie     Wyoming  56043.0    226       7
738760  2020-11-16      Weston     Wyoming  56045.0    338       0

[738761 rows x 6 columns]

In [9]:
US_states_DF

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
14254  2020-11-16       Virginia    51  204637    3806
14255  2020-11-16     Washington    53  138602    2661
14256  2020-11-16  West Virginia    54   34460     585
14257  2020-11-16      Wisconsin    55  334640    2775
14258  2020-11-16        Wyoming    56   23193     144

[14259 rows x 5 columns]

In [10]:
US_live_DF

,date,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-11-17,11279504,246879,NaN,NaN,NaN,NaN

In [11]:
US_live_counties_DF

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-11-17,Autauga,Alabama,1001.0,2481,36.0,2224.0,33.0,257.0,3.0
1,2020-11-17,Baldwin,Alabama,1003.0,7696,84.0,6426.0,80.0,1270.0,4.0
2,2020-11-17,Barbour,Alabama,1005.0,1130,9.0,768.0,9.0,362.0,0.0
3,2020-11-17,Bibb,Alabama,1007.0,993,17.0,891.0,13.0,102.0,4.0
4,2020-11-17,Blount,Alabama,1009.0,2574,34.0,1969.0,33.0,605.0,1.0
...,...,...,...,...,...,...,...,...,...,...
3241,2020-11-17,Sweetwater,Wyoming,56037.0,1110,4.0,1047.0,NaN,63.0,NaN
3242,2020-11-17,Teton,Wyoming,56039.0,1192,2.0,1159.0,NaN,33.0,NaN
3243,2020-11-17,Uinta,Wyoming,56041.0,760,4.0,587.0,NaN,173.0,NaN
3244,2020-11-17,Washakie,Wyoming,56043.0,226,7.0,205.0,NaN,21.0,NaN
3245,2020-11-17,Weston,Wyoming,56045.0,338,0.0,277.0,NaN,61.0,NaN

In [12]:
US_live_states_DF

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2020-11-17,Alabama,1,219232,3249,184645.0,3001.0,34587.0,248.0
1,2020-11-17,Alaska,2,24268,92,0.0,92.0,24268.0,0.0
2,2020-11-17,Arizona,4,277179,6302,NaN,NaN,NaN,NaN
3,2020-11-17,Arkansas,5,134348,2225,120008.0,2038.0,14340.0,187.0
4,2020-11-17,California,6,1047081,18304,1043734.0,18304.0,3347.0,0.0
5,2020-11-17,Colorado,8,168890,2605,NaN,NaN,NaN,NaN
6,2020-11-17,Connecticut,9,93284,4759,NaN,NaN,NaN,NaN
7,2020-11-17,Delaware,10,29200,736,NaN,NaN,NaN,NaN
8,2020-11-17,District of Columbia,11,19064,660,19064.0,660.0,0.0,0.0
9,2020-11-17,Florida,12,889856,17558,0.0,17558.0,889856.0,0.0
10,2020-11-17,Georgia,13,410581,8740,372281.0,8271.0,38300.0,469.0
11,2020-11-17,Guam,66,7144,99,6836.0,99.0,308.0,0.0
12,2020-11-17,Hawaii,15,16711,221,NaN,NaN,NaN,NaN
13,2020-11-17,Idaho,16,83906,773,71525.0,703.0,12381.0,70.0
14,2020-11-17,Illinois,17,586569,11217,571930.0,10819.0,14639.0,398.0
15,2020-11-17,Indiana,18,259318,4936,256744.0,4686.0,2574.0,250.0
16,2020-11-17,Iowa,19,189597,2023,189597.0,2023.0,0.0,0.0
17,2020-11-17,Kansas,20,124697,1266,NaN,NaN,NaN,NaN
18,2020-11-17,Kentucky,21,142277,1750,NaN,NaN,NaN,NaN
19,2020-11-17,Louisiana,22,205059,6139,197467.0,5902.0,7592.0,237.0
20,2020-11-17,Maine,23,9117,165,8180.0,165.0,937.0,0.0
21,2020-11-17,Maryland,24,168041,4309,167916.0,4160.0,125.0,149.0
22,2020-11-17,Massachusetts,25,190439,10340,184511.0,10110.0,5928.0,230.0
23,2020-11-17,Michigan,26,288543,8437,264031.0,8055.0,24512.0,382.0
24,2020-11-17,Minnesota,27,231074,2973,228158.0,2873.0,2916.0,100.0
25,2020-11-17,Mississippi,28,134898,3545,112610.0,3138.0,22288.0,407.0
26,2020-11-17,Missouri,29,255698,3485,253424.0,3484.0,2274.0,1.0
27,2020-11-17,Montana,30,48101,528,48034.0,528.0,67.0,0.0
28,2020-11-17,Nebraska,31,101601,805,31331.0,245.0,70270.0,560.0
29,2020-11-17,Nevada,32,122441,1919,122428.0,1919.0,13.0,0.0
30,2020-11-17,New Hampshire,33,15029,500,12904.0,488.0,2125.0,12.0
31,2020-11-17,New Jersey,34,283294,16580,281493.0,14779.0,1801.0,1801.0
32,2020-11-17,New Mexico,35,65454,1236,65454.0,1236.0,0.0,0.0
33,2020-11-17,New York,36,568450,33540,563774.0,28864.0,4676.0,4676.0
34,2020-11-17,North Carolina,37,315314,4843,301152.0,4723.0,14162.0,120.0
35,2020-11-17,North Dakota,38,64891,749,64885.0,743.0,6.0,6.0
36,2020-11-17,Northern Mariana Islands,69,103,2,103.0,2.0,0.0,0.0
37,2020-11-17,Ohio,39,305364,5742,NaN,NaN,NaN,NaN
38,2020-11-17,Oklahoma,40,156857,1538,0.0,1538.0,156857.0,0.0
39,2020-11-17,Oregon,41,57646,772,55761.0,430.0,1885.0,342.0
40,2020-11-17,Pennsylvania,42,275257,9399,NaN,NaN,NaN,NaN
41,2020-11-17,Puerto Rico,72,76631,942,42279.0,731.0,34352.0,211.0
42,2020-11-17,Rhode Island,44,43923,1270,0.0,924.0,43923.0,346.0
43,2020-11-17,South Carolina,45,196617,4143,185390.0,3873.0,11227.0,270.0
44,2020-11-17,South Dakota,46,66278,644,62521.0,NaN,3757.0,NaN
45,2020-11-17,Tennessee,47,312710,3884,291053.0,831.0,21657.0,3053.0
46,2020-11-17,Texas,48,1101719,20157,1035912.0,14650.0,65807.0,5507.0
47,2020-11-17,Utah,49,155779,725,46548.0,362.0,109231.0,363.0
48,2020-11-17,Vermont,50,3008,59,3008.0,59.0,0.0,0.0
49,2020-11-17,Virginia,51,204637,3806,NaN,NaN,NaN,NaN
50,2020-11-17,Virgin Islands,78,1434,23,1434.0,23.0,0.0,0.0
51,2020-11-17,Washington,53,138602,2661,134047.0,2589.0,4555.0,72.0
52,2020-11-17,West Virginia,54,34460,585,30384.0,562.0,4076.0,23.0
53,2020-11-17,Wisconsin,55,334640,2775,317239.0,2683.0,17401.0,92.0
54,2020-11-17,Wyoming,56,23193,144,19885.0,NaN,3308.0,NaN